@model StaffManagement.ViewModels.UserViewModel

@{
	ViewData["Title"] = "User Details";
}

<hr />
<div class="form-group">
	<label>Full Name:</label>
	<p>@($"{Model.FirstName} {Model.MiddleName} {Model.LastName}")</p>
</div>
<div class="form-group">
	<label>Email:</label>
	<p>@Model.Email</p>
</div>
<div class="form-group">
	<label>Phone Number:</label>
	<p>@Model.PhoneNumber</p>
</div>
<div class="form-group">
	<label>Username:</label>
	<p>@Model.UserName</p>
</div>
<div class="form-group">
	<label>National ID:</label>
	<p>@Model.NationalId</p>
</div>
<div class="form-group">
	<label>Roles:</label>
	@foreach (var role in Model.Roles)
	{
		<p>
			@role.Name
		</p>
	}
</div>
<a asp-action="Index" class="btn btn-secondary">Back to List</a>
